.inner{
    background-color:darkslategrey !important;
    color: white !important; 
}

body{
    background-image: url("./assets/background-repeat.jpg") !important;
}

.nav > a{
    color:white !important;
    font-size: 25px !important;
}

.navlink{
    color: black !important;
}

#jumboLink{
    background-color: transparent !important;
}

#jumbotron{
    background-image: url("./assets/city.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    margin-top: 1in !important;
    color: white !important;
    background-color: transparent !important;

}

.heading{
    text-align: center;
}
#myPhoto{
    height: 300px;
    width: 400px;
}
#about{
    background-color: white !important;
    border-radius: 5px;
}
about{
    margin: 30px !important;
    padding: 30px !important;
}

.my-4{
    color: white !important;
}

#photos{
    text-align: center !important;
    margin-top: 1in !important;
    padding: 30px !important;
    align-content: center !important;
    background-color: white;
    border-radius: 5px;
}
.marContainer1, .marContainer2, .marContainer3{
    margin-left: 30px !important;
}

#form{
    margin-top: 1in !important;
    margin:150px !important;
    padding: 30px !important;
    align-content: center !important;
}

label{
    color: white;
    font-weight: bolder;
}


